.content {
    margin: 5px auto;
    border-radius: 5px;
    min-height: 400px;
}
.content:after {
    content: "";
    display: block;
    clear: both;
}
.content .content-title {
    margin: 10px 0px;
    color: #374447;
    font-family: 'Averia Serif Libre', cursive;
}
.content .post {
    width: 335px;
    margin: 9px;
    min-height: 320px;
    float: left;
    border-radius: 2px;
    border: 1px solid #b3b3b3;
    position: relative;
}
.content .post .category {
    margin-top: 0px;
    padding: 3px 8px;
    color: #374447;
    background: white;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #374447;
    box-shadow: 3px 2px 2px;
    position: absolute;
    left: 5px; top: 5px;
    z-index: 3;
}
.content .post .category:hover {
    box-shadow: 3px 2px 2px;
    color: white;
    background: #374447;
    transition: .4s;
    opacity: 1;
}
.content .post .post_image {
    height: 260px;
    width: 100%;
    background-size: 100%;
}
.content .post .post_image {
    width: 100%;
    height: 260px;
}
.content .post .post_info {
    height: 100%;
    padding: 0px 5px;
    font-weight: 200;
    font-family: 'Noto Serif', serif;
}
.content .post .post_info {
    color: #222;
}
.content .post .post_info span {
    color: #A6A6A6;
    font-style: italic;
}
.content .post .post_info span.read_more {
    position: absolute;
    right: 5px; bottom: 5px;
}

/* * * * * * * * *
* SINGLE PAGE
* * * * * * * * */
.content .post-wrapper {
    width: 70%;
    float: left;
    min-height: 250px;
}
.full-post-div {
    min-height: 300px;
    padding: 20px;
    border: 1px solid #e4e1e1;
    border-radius: 2px;
}
.full-post-div h2.post-title {
    margin: 10px auto 20px;
    text-align: center;
}
.post-body-div {
    font-family: 'Noto Serif', serif;
    font-size: 1.2em;
}
.post-body-div p {
    margin:20px 0px;
}
.post-sidebar {
    width: 24%;
    float: left;
    margin-left: 5px;
    min-height: 400px;
}
.content .post-comments {
    margin-top: 25px;
    border-radius: 2px;
    border-top: 1px solid #e4e1e1;
    padding: 10px;
}
.post-sidebar .card {
    width: 95%;
    margin: 10px auto;
    border: 1px solid #e4e1e1;
    border-radius: 10px 10px 0px 0px;
}
.post-sidebar .card .card-header {
    padding: 10px;
    text-align: center;
    border-radius: 3px 3px 0px 0px;
    background: #3E606F;
}
.post-sidebar .card .card-header h2 {
    color: white;
}
.post-sidebar .card .card-content a {
    display: block;
    box-sizing: border-box;
    padding: 8px 10px;
    border-bottom: 1px solid #e4e1e1;
    color: #444;
}
.post-sidebar .card .card-content a:hover {
    padding-left: 20px;
    background: #F9F9F9;
    transition: 0.1s;
}