.homeSearch
{
    background-color:#fff;
    box-shadow: 0px 0px 3px rgba(85, 85, 85, 0.40);
    color: #042E6F;
}
.scroll .homeSearch
{
    background-color: rgba(4, 46, 111, 0.93);
    box-shadow: 0px 3px 3px #555;
    color: #fff;
}
.homeSearch h1{
    margin-top: 7px;
    font-size: 24px;
}
.searchInput{
    border-radius: 0 !important;
    border-right: 0 !important;
    padding: 7px 13px !important;
    height: 55px !important;
    font-weight: 600;
    color: #042e6f !important;
}
.navbar-site
{
    position: absolute !important;
    top: 0px;
}
.inner-box{
    box-shadow: 0px 0px 10px rgba(128, 125, 125, 0.23) !important;
    border-radius: 3px !important;;
}
.content-box {
    box-shadow: 0px 1px 10px rgba(128, 126, 126, 0.17) !important;
}
.AjaxHomeSeachsuggetion{
    position: absolute;
    background-color: #eee;
    box-shadow: 0px 9px 10px #a09c9c;
    max-height: 400px;
    overflow-y: auto;
}