.product-description {
transform: translate3d(0, 0, 0);
transform-style: preserve-3d;
perspective: 1000;
backface-visibility: hidden;
}
/*.container {*/
/*padding-top: 25px;*/
/*padding-bottom: 25px;*/
/*}*/
@media(min-width:992px) and (max-width:1199px){
    .hidden-lappy{display:none!important}
}
@media(min-width:1200px) {
    .hidden-lappy{display:none!important}
}
img {
    max-width: 100%;
}

hr {
    border-color: #e5e5e5;
    margin: 15px 0;
}

.secondary-text {
    color: #b6b6b6;
}

.list-inline {
    margin: 0;
}
.list-inline li {
    padding: 0 !important;
}
@media screen and (min-width: 388px) and (max-width: 800px) {
    .marB15
    {
        margin-bottom: 15px;
    }
    .mobile_search_wrp
    {
        padding: 29px 15px 15px 15px;
        background-color: #fff;
        box-shadow: 0px 1px 15px #00000045;
    }
    .main-container {
        min-height: -webkit-calc(100% - 162px);
        min-height: -moz-calc(100% - 162px);
        min-height: calc(100% - 162px);
        padding: 8px 0;
    }
}
@media screen and (max-width: 388px) {
    .marB15
    {
        margin-bottom: 15px;
    }
    .mobile_search_wrp
    {
        padding: 54px 15px 18px 15px;
        background-color: #fff;
        box-shadow: 0px 1px 15px #00000045;
    }
}

/* =============================================================== */
/* ==== for hidding the grid layout =========
/* =============================================================== */
/* */
@media screen and (max-width: 540px)
{
    .temp1Wrap.item-list.make-grid {
        width: 50% !important;
        float: left;
        padding-right: 0 !important;
        padding-left: 0px !important;
        clear: none;
        border-right: solid 0px #ddd;
        overflow: hidden !important;
    }
}
@media screen and (min-width: 540px)
{
    .temp1Wrap.item-list.make-grid {
        width: 50% !important;
        float: left;
        padding-right: 0 !important;
        padding-left: 0px !important;
        clear: none;
        border-right: solid 0px #ddd;
        overflow: hidden !important;
    }
}
@media screen and (min-width: 900px){
    .temp1Wrap.item-list.make-grid {
        width: 33.333% !important;
        float: left;
        padding-right: 10px !important;
        padding-left: 10px !important;
        clear: none;
        border-right: solid 0px #ddd;
        overflow: hidden !important;
    }
}

.item-list.make-list  .tmp_one_grid
{
    display: none;
}
.item-list.make-grid .tmp_one_grid{
    display: block;
}
.item-list.make-list > .tmp_one_list{
     /*display:list-item;*/
    transition-duration: 500ms;
 }
.item-list.make-grid > .tmp_one_list{
    display: none;
}



.temp1Wrap.item-list {
    border-bottom: solid 1px #eee !important;
    clear: both;
    padding: 10px !important;
    height: 290px;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    -moz-transition: background 0.25s ease-in;
    -o-transition: background 0.25s ease-in;
    transition: background 0.25s ease-in;
    -webkit-transition: background 0.25s ease-in;
}
.temp1Wrap.item-list:hover {
    background: transparent !important;
}

/*for temp 4 css start here*/
@media screen and (max-width: 540px)
{
    .temp4Wrap.item-list.make-grid {
        width: 50% !important;
        float: left;
        padding-right: 3px !important;
        padding-left: 3px !important;
        clear: none;
        border-right: solid 0px #ddd;
        overflow: hidden !important;
    }
    .temp4Wrap.item-list.make-list
    {
        height: 100% !important;
    }
    .temp4Wrap.item-list.make-list  .post-img-content{
        width: 100% !important;
        float: none;
    }
    .temp4Wrap.item-list.make-list .info{
        width: 60% !important;
        float: left;
        display: none;
    }
    .temp4Wrap.item-list.make-list .temp4type{
        width: 20% !important;
        float: left;
        display: none;
    }
}
@media screen and (min-width: 540px)
{
    .temp4Wrap.item-list.make-grid {
        width: 50% !important;
        float: left;
        padding-right: 3px !important;
        padding-left: 3px !important;
        clear: none;
        border-right: solid 0px #ddd;
        overflow: hidden !important;
    }
    .temp4Wrap.item-list.make-list
    {
        height: 100% !important;
    }
    .temp4Wrap.item-list.make-list  .post-img-content{
        width: 100% !important;
        float: none;
    }
    .temp4Wrap.item-list.make-list .info{
        width: 60% !important;
        float: left;
        display: none;
    }
    .temp4Wrap.item-list.make-list .temp4type{
        width: 20% !important;
        float: left;
        display: none;
    }
}
@media screen and (min-width: 900px){
    .temp4Wrap.item-list.make-grid {
        width: 33.333% !important;
        float: left;
        padding-right: 10px !important;
        padding-left: 10px !important;
        clear: none;
        border-right: solid 0px #ddd;
        overflow: hidden !important;
    }
    .temp4Wrap.item-list.make-list
    {
        height: 150px !important;
    }
    .temp4Wrap.item-list.make-list  .post-img-content{
        width: 20% !important;
        float: left;
    }
    .temp4Wrap.item-list.make-list .info{
        width: 60% !important;
        float: left;
        display: inline-block;
    }
    .temp4Wrap.item-list.make-list .temp4type{
        width: 20% !important;
        float: left;
        display: inline-block;

    }
}
.temp4Wrap.item-list
{
    border-bottom: solid 0px #eee !important;
    clear: both;
    padding: 10px !important;
    height: 343px !important;;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    -moz-transition: background 0.25s ease-in;
    -o-transition: background 0.25s ease-in;
    transition: background 0.25s ease-in;
    -webkit-transition: background 0.25s ease-in;
}

.temp4Wrap.item-list:hover {
    background: transparent !important;
}

/*.temp4Wrap.item-list.make-list  .post-title{*/
    /*width: 50% !important;*/
    /*float: left;*/
/*}*/

.temp4Wrap.item-list.make-grid .temp4type{
    display: none;
}

.temp4Wrap.item-list.make-list .separator {
    border-top: 0px solid #E1E1E1;
    width: 200px !important;
}
.temp4Wrap.item-list.make-grid .titleTmp4List
{
    display: none;
}
.temp4Wrap.item-list.make-list .titleTmp4List
{
    display: block;
}
.temp4Wrap.item-list.make-list .titleTmp4Grid
{
    display: none;
}


/******************for temp 3 css start here**********************/
.temp3Wrap.item-list
{
    border-bottom: none !important;
    clear: both;
    padding: 0px !important;
    height: auto !important;;
    width: 100%;

    display: block;
    position: relative;
    overflow: hidden;
    -moz-transition: background 0.25s ease-in;
    -o-transition: background 0.25s ease-in;
    transition: background 0.25s ease-in;
    -webkit-transition: background 0.25s ease-in;
}
@media screen and (max-width: 540px) {
    .temp3Wrap.item-list.make-grid {
        width: 50% !important;
        float: left;
        padding-right: 10px !important;
        padding-left: 10px !important;
        clear: none;
        border-right: solid 0px #ddd;
        overflow: hidden !important;
    }
    .temp3Wrap.item-list.make-list .project-imgWrap {
        height: auto;
        overflow: hidden;
        width: 100% !important;
        float: left !important;
    }
    .temp3Wrap.item-list.make-list .project-content {
        width: 50% !important;
        float: left !important;
        padding: 0 24px 10px;
        font-family: proxima-regular;
    }

    .temp3Wrap.item-list.make-list .forListContent {
        display: inline-block;
        width: 50% !important;
        float: left !important;
        padding: 35px 10px;
        font-family: proxima-regular;
    }
    .temp3Wrap.item-list.make-list .project-imgWrap .cover-tmp3 {
        height: 204px;
        width: 100%;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
        background-size: cover;
        overflow: hidden;
    }
}
@media screen and (min-width: 540px) {
    .temp3Wrap.item-list.make-grid {
        width: 50% !important;
        float: left;
        padding-right: 10px !important;
        padding-left: 10px !important;
        clear: none;
        border-right: solid 0px #ddd;
        overflow: hidden !important;
    }
    .temp3Wrap.item-list.make-list .project-imgWrap {
        height: auto;
        overflow: hidden;
        width: 100% !important;
        float: left !important;
    }
    .temp3Wrap.item-list.make-list .project-content {
        width: 50% !important;
        float: left !important;
        padding: 0 24px 10px;
        font-family: proxima-regular;
    }

    .temp3Wrap.item-list.make-list .forListContent {
        display: inline-block;
        width: 50% !important;
        float: left !important;
        padding: 35px 10px;
        font-family: proxima-regular;
    }
    .temp3Wrap.item-list.make-list .project-imgWrap .cover-tmp3 {
        height: 200px;
        width: 100%;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
        background-size: cover;
    }
}
@media screen and (min-width: 900px) {
    .temp3Wrap.item-list.make-grid {
        width: 33.333% !important;
        float: left;
        padding-right: 5px !important;
        padding-left: 5px !important;
        clear: none;
        border-right: none !important;
        overflow: hidden !important;
    }
    .temp3Wrap.item-list.make-list .project-imgWrap {
        height: 100%;
        overflow: hidden;
        width: 20% !important;
        float: left !important;
    }
    .temp3Wrap.item-list.make-list .project-content {
        width: 60% !important;
        float: left !important;
        padding: 0 24px 10px;
        font-family: proxima-regular;
    }

    .temp3Wrap.item-list.make-list .forListContent {
        display: block;
        width: 20% !important;
        float: left !important;
        padding: 35px 10px;
        font-family: proxima-regular;
    }
}

.temp3Wrap.item-list:hover {
    background: transparent !important;
}


.temp3Wrap.item-list.make-list .project-imgWrap .cover-tmp3 {
    height: 170px !important;
    width: 100%;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    background-size: cover;
}

.temp3Wrap.item-list.make-list .project {
    background: #fff;
    border-bottom: 1px solid #f6f6f6 !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    margin: 0px 0;
    overflow: hidden;
    min-height: 172px;
    height: auto;
}
.temp3Wrap.item-list.make-list .project-content > .title {
    border-bottom: none !important;
    margin-top: 10px;
    margin-bottom: 3px;
    padding: 0px 0px;
}

.temp3Wrap.item-list.make-grid .hideInGrid {
    display: none;
}
.temp3Wrap.item-list.make-list .hideInList {
    display: none;
}


.temp3Wrap.item-list.make-grid .forListContent {
    display: none;
}



/* =============================================================== */
/* ==== for hidding the grid layout end =========
/* =============================================================== */
/* */
.card-wrapper {
    position: relative;
    width: 100%;
    height: 280px;
    border: 1px solid #e5e5e5;
    border-bottom-width: 2px;
    overflow: hidden;
    margin-bottom: 30px;
}
.card-wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card-wrapper:hover:after {
    opacity: 1;
}
.card-wrapper:hover .image-holder:before {
    opacity: .75;
}
.card-wrapper:hover .image-holder:after {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.card-wrapper:hover .image-holder--original {
    transform: translateY(-15px);
}
.card-wrapper:hover .product-description {
    height: 205px;
}
@media (min-width: 768px) {
    .card-wrapper:hover .product-description {
        height: 185px;
    }
}

.image-holder {
    display: block;
    position: relative;
    width: 100%;
    height: 210px;
    background-color: #ffffff;
    z-index: 1;
}
@media (min-width: 768px) {
    .image-holder {
        height: 325px;
    }
}
.image-holder:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    opacity: 0;
    z-index: 5;
    transition: opacity 0.6s;
}
.image-holder:after {
    content: '+';
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    color: #4CAF50;
    text-align: center;
    position: absolute;
    top: 92.5px;
    left: 50%;
    width: 75px;
    height: 75px;
    line-height: 75px;
    background-color: #ffffff;
    opacity: 0;
    border-radius: 50%;
    z-index: 10;
    transform: translate(-50%, 100%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-out;
}
@media (min-width: 768px) {
    .image-holder:after {
        top: 107.5px;
    }
}
.image-holder .image-holder__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
}
.image-holder .image-holder--original {
    transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image-liquid {
    width: 100%;
    height: 225px;
    background-size: cover;
    background-position: center center;
}

.product-description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 10px 15px;
    overflow: hidden;
    background-color: #fafafa;
    border-top: 1px solid #e5e5e5;
    transition: height 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 2;
}
@media (min-width: 768px) {
    /*.product-description {*/
    /*height: 65px;*/
    /*}*/
}
.product-description p {
    margin: 0 0 5px;
}
.product-description .product-description__title {
    font-family: 'Raleway', sans-serif;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-size: 18px;
    line-height: 1.25;
}
.product-description .product-description__title:after {
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fafafa);
}
.product-description .product-description__title a {
    text-decoration: none;
    color: inherit;
}
.product-description .product-description__category {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-description .product-description__price {
    color: #4CAF50;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0.06em;
}
@media (min-width: 768px) {
    .product-description .product-description__price {
        text-align: right;
    }
}
.product-description .sizes-wrapper {
    margin-bottom: 15px;
}
.product-description .color-list {
    font-size: 0;
}
.product-description .color-list__item {
    width: 25px;
    height: 10px;
    position: relative;
    z-index: 1;
    transition: all .2s;
}
.product-description .color-list__item:hover {
    width: 40px;
}
.product-description .color-list__item--red {
    background-color: #F44336;
}
.product-description .color-list__item--blue {
    background-color: #448AFF;
}
.product-description .color-list__item--green {
    background-color: #CDDC39;
}
.product-description .color-list__item--orange {
    background-color: #FF9800;
}
.product-description .color-list__item--purple {
    background-color: #673AB7;
}




/* =============================================================== */
/* TEMP NUMBER:2 CSS START
/* =============================================================== */
.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:232px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
}
.profile-card-2 .profile {
    border-radius: 50%;
    position: absolute;
    top: -42px;
    left: 15%;
    max-width: 75px;
    border: 3px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.profile-card-2 h5{
    font-weight:600;
    color:#6ab04c;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}
.profile-card-2 i {
    display: inline-block;
    font-size: 16px;
    color: #6ab04c;
    text-align: center;
    border: 1px solid #6ab04c;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-2 i:hover {
    background-color:#6ab04c;
    color:#fff;
}
/* =============================================================== */
/* TEMP NUMBER:2 CSS END
/* =============================================================== */


/* =============================================================== */
/* TEMP NUMBER:3 CSS START
/* =============================================================== */
.shape{
    border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
    -ms-transform:rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(360deg); /* Safari and Chrome */
    transform:rotate(360deg);
}

.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
    -ms-transform:rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(30deg); /* Safari and Chrome */
    transform:rotate(30deg);
}

.project {
    min-height:300px;
    height:auto;
}

.project{
    background:#fff; border:1px solid #ddd;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    overflow:hidden;
}
.project:hover{
    background:#fff; border:1px solid #ddd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition-duration: 500ms;
    overflow:hidden;
}
.project-radius{
    border-radius:7px;
}

.project-default {    border-color: #999999; }
.project-default .shape{
    border-color: transparent #999999 transparent transparent;
    border-color: rgba(255,255,255,0) #999999 rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-danger {    border-color: #d9534f; }
.project-danger .shape{
    border-color: transparent #d9534f transparent transparent;
    border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-success {	border-color: #5cb85c; }
.project-success .shape{
    border-color: transparent #5cb85c transparent transparent;
    border-color: rgba(255,255,255,0) #5cb85c rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-primary {	border-color: #428bca; }
.project-primary .shape{
    border-color: transparent #428bca transparent transparent;
    border-color: rgba(255,255,255,0) #428bca rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-info {	border-color: #5bc0de; }
.project-info .shape{
    border-color: transparent #5bc0de transparent transparent;
    border-color: rgba(255,255,255,0) #5bc0de rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-warning {	border-color: #f0ad4e; }
.project-warning .shape{
    border-color: transparent #f0ad4e transparent transparent;
    border-color: rgba(255,255,255,0) #f0ad4e rgba(255,255,255,0) rgba(255,255,255,0);
}

.project-content {
    padding:0 10px 10px;
    font-family:proxima-regular;
}
.project-content > .title {
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
}
.project-content > .title a {
    font-family:proxima-semiBold;
    font-size: 16px;

}
.project-imgWrap
{
    height: 280px;
    overflow: hidden;
}
.project-imgWrap .cover-tmp3
{
    height: 280px;
    width: 100%;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    background-size: cover;
}
.project-imgWrap .cover-tmp3:hover
{
    height: 380px;
    width: 150%;
    background-position: center;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    transform: rotate(0deg);
    transition-duration: 500ms;
    background-size: cover;
}
.project-content .loc
{
    padding: 5px 0px;
    color: #777;
}
.project-content .list-inline > li
{
    color: #999;
    margin-bottom: 7px;
}
/* =============================================================== */
/* TEMP NUMBER:3 CSS END
/* =============================================================== */


/* =============================================================== */
/* TEMP NUMBER:4 CSS START
/* =============================================================== */

.col-item
{
    margin-bottom: 14px;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    background: #FFF;
}
.col-item:hover
{
    margin-bottom: 14px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition-duration: 500ms;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
    padding: 1px;
    border-radius: 10px 10px 0 0 ;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    font-family: proxima-regular;
    color: #999;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    color: #777;
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    color: #777;
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

/*
Hover the image
*/
.post-img-content
{
    height: 196px;
    position: relative;
}
.post-img-content .itemImgWrap {
    width: 100%;
    overflow: hidden;
    display: block;
    position: absolute;
    height: 180px;
}
.post-img-content .itemImg
{
    position: absolute;
    padding: 1px;
    height: 180px;
    width: 100%;
    overflow: hidden;
    background-size: cover !important;
    background-position: center !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.post-img-content .itemImg:hover
{
    position: absolute;
    overflow: hidden;

    padding: 1px;
    height: 220px;
    background-size: cover !important;
    background-position: top !important;
    transition-duration: 500ms;
    background-size: cover;
    transform: rotate(0deg);

}

.post-img-content img
{
    position: absolute;
    padding: 1px;
    border-radius: 10px 10px 0 0 ;
}
.post-title{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post-title b{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 2px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 12px;
}
.post-title b:first-child{
    font-size: 14px;
}
.round-tag{
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 50% 0;
    border: 4px solid #f5f5f5;
    background: rgb(45, 227, 118);
    position: absolute;
    bottom: 0px;
    padding: 15px 6px;
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
}
/* =============================================================== */
/* TEMP NUMBER:4 CSS END
/* =============================================================== */
