.card-product {
    margin-top: 30px;
}
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card {
    color: rgba(0, 0, 0, 0.87);
}
.card .table {
    padding: 15px 30px;
}
.table {
    margin-bottom: 0px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.card-product .card-caption, .card-product .category, .card-product .card-description {
    text-align: center;
}
.category {
    position: relative;
    line-height: 0;
    margin: 15px 0;
}
.card-product .card-caption, .card-product .category, .card-product .card-description {
    text-align: center;
}
.card-caption {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}
.card-caption, .card-caption a {
    color: #333;
    text-decoration: none;
}
.card-caption, .card-caption a {
    color: #333;
    text-decoration: none;
}
.card-product .card-caption, .card-product .category, .card-product .card-description {
    text-align: center;
}
.card-caption {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}
.card-product .ftr {
    margin-top: 5px;
}
.card .ftr {
    margin-top: 15px;
}
card .ftr div {
    display: inline-block;
}
.card-product .ftr h4 {
    margin-bottom: 0;
}
.card-product .ftr .stats {
    margin-top: 4px;
    top: 0;
}
.card .ftr .stats {
    position: relative;
    top: 1px;
    font-size: 14px;
}
.card .ftr .stats {
    float: right;
    line-height: 30px;
}
.card .ftr div {
    display: inline-block;
}
.card-product .btn-simple.btn-just-icon {
    padding: 0;
}