
.themeControll {
    background: #EEEEEE;
    height: auto;
    width: 350px;
    position: fixed;
    left: 0;
    padding: 20px 0 0;
    border-radius: 0px 0px 10px 0px;
    box-shadow: 1px 2px 25px #555;
    top: 100px;
    z-index: 999999;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -webkit-filter: none;
    filter: none;
    -webkit-transition: opacity 0.5s linear, -webkit-transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99);
    -moz-transition: opacity 0.5s linear, -moz-transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99);
    -o-transition: opacity 0.5s linear, -o-transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99);
    transition: opacity 0.5s linear, transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99); }
.themeControll.active {
    display: block;
    -webkit-transform: translateX(-350px);
    -moz-transform: translateX(-350px);
    -o-transform: translateX(-350px);
    transform: translateX(-350);
    -webkit-transition: opacity 0.5s linear, -webkit-transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99);
    -moz-transition: opacity 0.5s linear, -moz-transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99);
    -o-transition: opacity 0.5s linear, -o-transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99);
    transition: opacity 0.5s linear, transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99); }
.themeControll h3 > a {
    color: #555;
    font-size: 15px;
    font-weight: 600;
    /* padding-top: 2px; */
    display: block;
    margin-top: 3px; }
.themeControll .linkinner a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0;
    clear: both;
    color: #888;
    display: block;
    font-size: 13px;
    height: auto;
    line-height: 16px;
    margin-bottom: 5px;
    padding-bottom: 8px;
    padding-left: 10px;
    text-transform: capitalize;
    width: auto;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; }
.themeControll .nicescroll-cursors {
    background-color: rgba(255, 255, 255, 0.75) !important;
    border: 1px solid rgba(255, 255, 255, 0.9) !important; }

.tbtn {
    background: #fff306;
    color: #555!important;
    font-size: 30px;
    height: auto;
    padding: 10px;
    position: absolute;
    right: -40px;
    top: 0;
    width: 40px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;}

.linkinner {
    display: block;
    height: 500px;
    margin-top: 15px;
    overflow-y: auto;
    padding-bottom: 15px;
    padding-right: 10px; }

.linkScroll .scroller-bar {
    width: 17px;
    background: #1d2e40 !important;
    border-color: #1d2e40 !important; }
.linkScroll .scroller-track {
    background: #1d2e40 !important;
    border-color: #1d2e40 !important; }

@media (max-width: 780px) {
    .themeControll {
        display: none; } }
.themecontrolTitle
{
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin-top: 20px;
}
.themeConntrolContent
{
    display: block;
    background-color: #fff;
    padding: 7px;
    border-bottom-right-radius: 5px;
}
.colorBlock
{
    display: inline-block;

    padding: 6px 5px 6px 10px;;
    margin: 2px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.colorInput
{
    padding: 0px;
    height: 31px;
    width: 31px;
    border-radius: 24px;
    float: right;
    top: 32px;
    position: absolute;
    border: 0;
    left: 22px;
}
.thLabel
{
    color: #5f7fe2;
    font-size: 12px;
    font-weight: 300;
}